.cabecalho {
    align-items: center;
    background-color: #00161C;
    border-bottom: 1px solid #103D4A;
    box-sizing: border-box;
    color: #FFF;
    display: flex;
    flex-direction: column;
    padding: .75rem 0;
    width: 100%;
}

.cabecalho__logo {
    margin-bottom: 1rem;
}

.cabecalho__navegacao {
    text-align: center;
}

.cabecalho__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} 

.cabecalho__link {
    display: inline-block;
    font-size: 1.1rem;
    margin-bottom: 1.25rem;
    margin-left: .7rem;
    margin-right: .7rem;
}


@media screen and (min-width: 1024px){
    .cabecalho {
        flex-direction: row;
        justify-content: space-between;
        padding: .7rem 2rem;
    }

    .cabecalho__link {
        margin-bottom: 0;
    }
}
