.contato {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

.contato__titulo {
    color: #4F4C4C;
    font-family: 'Montserrat', serif;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    margin-top: 2rem;
    text-align: center;
    text-transform: uppercase;
}

.contato__texto {
    text-align: center;
    margin-bottom: 1rem;
}

.contato__botao {
    border: 1px solid #4F4C4C;
    align-self: center;
}

.contato__botao:hover {
    transition: 0.5s;
    background-color: #4F4C4C;
    color: #FFF;
}